# Editor files
.idea
*.pyc
*~
*.swp

# No notebooks in this repository
*.ipynb

# Build/Test residuals
.cache
.coverage
.eggs
hep_ipython_tools.egg-info/
build/

# TOX test
.tox

# Documentation
docs/_build
